body {
	background: #000 url("../images/body-bg1.png") repeat 0 0;
	color: #999999;
	text-shadow: 1px 1px #000000;
}

h1, h2, h3, h4, h5, h6 {
	color: #FFFFFF;
}

blockquote {
	border-left: 3px solid #999999;
}
a {
	color: white;
}

table {
	border: 1px solid #000000;
}
table thead th{
	color: #E9E9E9;
	border: solid 1px #000000;
	box-shadow: inset 0px 1px 0px rgba(255,255,255,.15);
	background: #1a1a1a;
	background: -moz-linear-gradient(top, #1a1a1a 0%, #0d0e0f 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1a1a1a), color-stop(100%,#0d0e0f));
	background: -webkit-linear-gradient(top, #1a1a1a 0%,#0d0e0f 100%);
	background: -o-linear-gradient(top, #1a1a1a 0%,#0d0e0f 100%);
	background: -ms-linear-gradient(top, #1a1a1a 0%,#0d0e0f 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a1a1a', endColorstr='#0d0e0f')";
	background: linear-gradient(top, #1a1a1a 0%,#0d0e0f 100%);
}
table th, table tbody td {
	border-bottom: 1px solid #000000;
	border-right: 1px solid #000000;
}

/*-----------------------------------------------------------------------------------*/
/*	03.	Forms & Buttons
/*-----------------------------------------------------------------------------------*/
input, textarea, select {
	background: none repeat scroll 0 0 #FAFAFE;
	border: 1px solid #E2E2E6;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2) inset;
	color: #7e7e7e;
}

/* Buttons */
.button, input[type="submit"] {
	color: #FFFFFF;
	border-left-color: rgba(0,0,0,.5);
	border-right-color: rgba(0,0,0,.5);
	border: 1px solid #000;
	box-shadow:
		inset 0px 1px 0px rgba(255,255,255,.15),
		0px 1px 2px rgba(0,0,0,.5);
	text-shadow: #000 1px 1px 0px;
}

/*-----------------------------------------------------------------------------------*/
/*	04.	Header
/*-----------------------------------------------------------------------------------*/
#header {
	background: #393939 url("../images/header-bg.png") repeat-x scroll 0 bottom;
}
header #logo h1 a {
	color: #fff;
}

/*-----------------------------------------------------------------------------------*/
/*	05.	Content
/*-----------------------------------------------------------------------------------*/
#content-wrapper {
	background: url("../images/border-solid.png") repeat-x bottom left;
}

/*-----------------------------------------------------------------------------------*/
/*	06.	Prefooter
/*-----------------------------------------------------------------------------------*/
#prefooter {
	background: url("../images/prefooter-bg.png") repeat scroll 0 0 transparent;
}

/*-----------------------------------------------------------------------------------*/
/*	07.	Footer
/*-----------------------------------------------------------------------------------*/
footer {
	background: url("../images/footer-bg.png") repeat-x scroll bottom left transparent;
}
#footer-border {
	background: url("../images/border-solid.png") repeat-x bottom left;
}
