/* ---- SLIDER WITH THUMBNAIL CONTROLS ---- */
.theme-thumbnails .nivoSlider {
	position:relative;
}
.nivo-controlNav img {
	display:inline; /* Unhide the thumbnails */
	position:relative;
	margin-right:10px;
}

.theme-thumbnails a.nivo-control img{
	background: #ffffff
}
.theme-thumbnails  a.nivo-control.active{
	opacity: 1;
	filter: alpha(opacity=100); /* IE 7 and Earlier */
}
.theme-thumbnails  a.nivo-control{
	float: left;
	opacity: 0.5;
	filter: alpha(opacity=50); /* IE 7 and Earlier */
}
.theme-thumbnails  .nivo-controlNav a:last-child {
	margin: 0;
}
